
/* Header Items */


.logoWrapper{
  display:flex;
  align-items: center;
  flex:4;
  margin-left:50px;
}

.logoText{
  padding:5px;
  text-align: center;
  color:rgb(93, 120, 120);
  font-weight: bold;
  font-size: 13px;
  margin-left:6px;
}

.logoText p{
  margin:0;
}


#smartpayLogo{

  padding:40px;
}

#smartPayLogo :active{
  border: dashed;
}


header{
  display:flex;
  flex-direction: row;
  background-color: rgb(207, 231, 231);
  padding:30px;
  align-items: center;
}

#userIcon{
  border-radius: 50%;
  margin-right:30px;
}

.searchBar{

  border-radius:8px;
  padding:7px;
  margin-right:20px;
}


.navBar ul{

justify-content:center;
display:flex;
list-style-type: none;
background-color:rgb(112, 137, 137);
text-decoration: none;
color: white;
padding:0;
margin:0;
font-weight: bold;
overflow: hidden;
transition:0.9s;
}

.navBar a{
  text-decoration: none;
  color:white;
  display: block;
  padding:26px;

}


.navBar li :hover{

background-color:black;
}


/* Footer items */

#copyRight{
 
  padding:30px;
  flex:4;
  margin-left:100px;

}

.footerItems{
  display:flex;
  justify-content: center;
background-color:rgb(112, 137, 137);
  color:azure;
  flex-direction:row;
  padding:15px;
  align-items: center;
}

.smartPayEmails{
  flex-direction:row;
  display:flex;
  margin-right:60px;

}

.smartPayEmails a{
  margin-right:60px;
  color:azure;

}



/* THE USER ICON WRAPPER MENU*/


.userNav{

  display:flex;
  flex-direction: row;
  

  }

  .userNav ul{
  list-style-type: none;

  }
  
  .userNav a{
    text-decoration: none;
    color:white;
   background-color:rgb(112, 137, 137);

    display: block;
    padding:26px;
  
  }
  
  
  .userNav li :hover{
  
  background-color:black;
  }
  



