body{
  background-color: azure;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}

body a{
  text-decoration: none;
  
  }

main{
 text-align: center;
 margin:200px;
}

.title{

  margin:150px;
  
}

.mainContent{
  display:flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  padding:30px;
}

main p{
padding:50px;
margin:40px;
background-color:rgb(94, 187, 224);
border-radius:12px;
color:white;
}




.createAccountText{
  font-weight:bold;
  color:black;
}

.dontHaveAnAccount{
  margin-top:40px;
}


.alreadyHaveAnAccount{
  margin-top:40px;
}


.form{
  align-items: center;
}

.logInSignUp{
  padding:10px;
  width:100%;
  border-radius:4px;
  border:none;
  background-color:rgb(75, 155, 186);
  color:azure;
  margin:20px;
}


#inputMobileNumber{
  display:flex;
  flex-direction: row;
}





#countryCode{
  padding-right:30px;
}

form{
  margin: 0 2rem;
}



input{
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey ;
  padding:20px;
  font-size: 19px;

}

select{
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey ;
  padding:20px;
  font-size: 19px;
  color:  grey;
}


.inline{
 display:flex;
 justify-content: center;
 align-items:center;
}

#forgotPassword{
  color:black;
  font-style: italic;
}
 

.inputGroup{
  margin-bottom:20px;
}

label{
  font-size:20px;
}



.moneyBalanceButtons {
  display: flex;
  flex-direction: row; 
  text-align:center;
  justify-content: center;
  margin: 0 auto;
}
.moneyBalanceButtons p{
  margin:0;
  margin-left:10px;
  padding:10px;
}

#accounts{
  margin-bottom:10px;
  padding-left:10px;
}


.hero {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
  position: relative;
  overflow:hidden;
  flex-direction: column; 
}

#smartPayImg{
  position:absolute;
z-index: -1;
min-width: 100%;
min-height: 100%;
}



#contactUsTitle {
  color: white;
  background-color: rgba(0, 0, 0, 0.741);
  padding: 1px 10px;
  border-radius:10px;
}


#accountButton{
background-color:rgb(94, 187, 224);
color:white;
  margin-bottom:25px;
  border:none;
  border-radius:8px;
  padding:10px;
  font-size:17px;
}

.balanceButtons{
}

.balanceButtons p:hover{
  cursor: pointer;
  opacity:0.5;
  transition: 0.3s;


}

.balanceButtons button:hover{
  cursor: pointer;
  opacity:0.8;
  transition: 0.3s;
}







.accountDetails{
  display:none;
}



.sendMoney{
  display:none;
}

.exchangeMoney{
  display:none;
}

.back{
  padding:10px 20px;
  border-radius:10px;
  border:none;
  background-color:powderblue;
  color:rgba(9, 11, 88, 0.989);
  cursor:pointer;

}


